body {
  padding: 50px;
  font-size: 30px;
  font-family: 'Short Stack', cursive;
  width: auto;

}
h1 {
  font-size: 50px;
  text-align: center;
}
a {
  color: #00B7FF;
}

div.animal {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;

}

div.animal:hover {
    border: 5px solid #777;
}

div.animal img {
    width: 100%;
    height: auto;
}

div.animal .sound {
    padding: 15px;
    text-align: center;
}
div.animal .name {
    padding: 15px;
    text-align: center;
}
